body { 
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: comic sans ms;
    color:darkblue
}

h3 {
    color: black;
}
.a {
    color: antiquewhite;
}

h4 {
    text-align: center;
    font-style: italic;
}

.paragraf1 {
    color: orange;
    text-align: center;
}
.paragraf2 {
    text-align: center;
    line-height: 2;
}