body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-size: 60px;
    text-align: center;
    font-family: comic sans ms ;
    color: darkblue;
}
h3 {
    text-align: center;
    color: white;
}
h4 {
    text-align: right;
    font-style: italic;
}
.paragraf2 {
    text-align: center;
    color: black;
    line-height: 2;
}
.paragraf1 {
    text-align: center;
    color: orange;
}
.mark:hover {
    color: white;
    background-color: blue;
}