body {
    background-image: url(background.png) ;
    background-repeat: repeat-x;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-size: 60px;
    text-justify: auto;
    text-align: center;
    font-family: comic sans ms;
    color: darkblue;
}
h3 { 
    text-align: center;
}
h3 a {
    color: red;
}
.tebal:hover {
    color: red;
}
h4 {
    text-align: center;
    font-style: ;

}
.paragraf1 {
    text-align: center;
    color: orange;
}
.paragraf2 {
    text-align: center;
    color: black;
    line-height: 2;
}
.mark : link {
    color: blue
}