/* font */
@font-face {
    font-family: 'Sans';
    src: url(../font/SourceSansPro-Black.otf) format ('otf');
}

/* Style Utama */
body {
    background-color: #0e3c6a;
    font:18px/36px 'Sans';
}
h1 {
    font-size: 60px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
.container {
    width: 750px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgb(81, 71, 71);
    border-radius: 5px;
}
.galery li {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid #1e0876;
    overflow: hidden;
    float: left;
    margin-right: 30px;
    position: relative;
}
.galery li,
.galery li img,
.galery li span {
    border-radius: 50%;
}
.galery li span{
    display: block;
    width: 140px;
    height: 140px;
    background-color: rgba(33, 74, 135, 0.819);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 150px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0); rotate (0);
    transition: .4s;
}
.galery li a:hover span{
    opacity: 1;
    transform: scale(1); rotate (360deg);
}
.clear{
    clear: both;
}

/* Overlay*/
.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 99999;
    text-align: center;
    padding: 80px 0;
}
.overlay:target{
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.8);
}
.overlay img{
    max-height: 100%;
    box-shadow: 2px 2px 7px rgb(58, 58, 244);
    border: 10px solid rgb(59, 160, 255);
}
.overlay:target img{
    animation: zoomDanFade 1s;
}
.overlay .close{
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -40px;
    color: rgb(125, 177, 255);
    text-decoration: none;
    background-color: rgb(7, 48, 97);
    border: 1px solid white;
    padding: 3px;
    line-height: 12px;
    opacity: 0; 
}
.overlay:target .close{
    animation: slideDownFade .5s .5s forwards;
}
.overlay:target.next,
.overlay:target.prev {
    animation: fadeAjah .5 .5s forwards;
}

/*navigasi*/
.next, .prev {
    width: 512px;
    height: 512px;
    background-image: url(../img/next.png);
    position: absolute;
    text-indent: -9999px;
    top: -0%;
    margin-left: 20px;
    opacity: 0;
}

.prev{
    background-image: url(../img/prev.png);
    margin-left: -100px;

}
/*animasi*/
@keyframese zoomDanFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}