/* font */
@font-face {
    font-family: 'Sans';
    src: url(../font/SourceSansPro-Black.otf) format ('otf');
}

/* Style Utama */
body {
    background-image: url(../img/pokemon.jpg);
    font:18px/36px 'Sans';
}
h1 {
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
.container {
    width: 600px;
    background-color: rgb(220, 227, 244);
    margin: auto;
    padding: 15px;
    box-shadow: 0 0 3px 3px rgb(29, 62, 226);
    border-radius: 3px;
    padding-left: 100px;
    
}
.galery li {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #061757;
    overflow: hidden;
    float: left;
    margin-right: 30px;
    position: relative;
    margin-top: 20px;
}
.galery li,
.galery li img,
.galery li span {
    border-radius: 50%;
}
.galery li span{
    display: block;
    width: 140px;
    height: 140px;
    background-color: rgba(40, 81, 142, 0.819);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 150px;
    color: #040404;
    text-shadow: 1px 1px 1px #f8f8f8;
    opacity: 0;
    transform: scale(0) rotate(0deg);
    transition: .4s;
}

.galery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear{
    clear: both;
}

/* Overlay*/
.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 99999;
    text-align: center;
    padding: 80px 0;
}
.overlay:target{
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.8);
}
.overlay img{
    max-height: 100%;

}
.overlay:target img{
    animation: zoomDanFade 1s;
}
.overlay .close{
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -40px;
    color: rgb(44, 83, 142);
    text-decoration: none;
    padding: 3px;
    line-height: 12px;
    opacity: 0; 
}

.overlay:target .close{
    animation: slideDownFade .5s .5s forwards;
}

.overlay:target.next,
.overlay:target.prev {
    animation: fadeAjah .5 .5s forwards;
}

/*navigasi*/
.next, .prev {
    width: 100%;
    height: 100%;
    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    margin-left: 20px;
    opacity: 0;
}

.prev{
    background-image: url(../img/prev.png);
    margin-left: -100px;

}
.overlay:target .next,
.overlay:target .prev{
    opacity: 1;
}
/*animasi*/
@keyframes zoomDanFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}